[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cloudinary = "*"
flask-mysqldb = "*"

[dev-packages]
cloudinary = "*"

[requires]
python_version = "3.10"
